@font-face {
    font-family: 'rubikblack';
    src: url('rubik-black-webfont.woff2') format('woff2'),
         url('rubik-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "rubikblack", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

header {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(105, 195, 255);
    grid-row: 1 / -1;
    color: white;
}

h1, h2 {
    align-self: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

.dash {
    margin-top: 20px;
    margin-left: 20px;
}

.options {
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 20px;
}

.sidebar {
    height: 60%;
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    grid-template-columns: 1fr;
    gap: 60px;
}

nav div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 15px;
    align-items: start;
}

.options div {
    margin: 0 40px;
    grid-template-columns: 1fr 10fr;
    align-items: center;
}

nav img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(76deg) brightness(104%) contrast(102%);
}


.content {
    background-color: rgb(228, 228, 228);
}