* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

header {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgb(105, 195, 255);
    grid-row: 1 / -1;
    color: white;
}

nav img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(76deg) brightness(104%) contrast(102%);
}

.content {
    background-color: rgb(228, 228, 228);
}